<h1>Registered Applications</h1>
<% @applications.each do |app| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to app.name, app %>
      </h4>
    </div>
  </div>
<% end %>
